body{
    font-family: calibri;
}
#top-image{
    background: url("images/topPic.jpg") no-repeat center center;
    background-size:cover;
    height:350px;
    position: relative;
}

h1{
    font-size:40px;
    font-weight: bold;
}
h2{
    font-size:35px;
}

#top-image .center{
    max-width: 440px;
    margin: 0 auto;
    padding-top:70px; 
}
#top-image h1, #top-image h2 {
    color: #ffffff;
    text-shadow: -4px 2px 13px black;
    text-align: left;
    position: relative;
}
.logo{
    background: url(images/logo.png) no-repeat center center;
    background-size: 220px 65px;
    height: 65px;
    width: 52px;
    background-position: 0 0;
    margin-top: 20px;
}

hr{
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.title{
    background-color: #fbf8f8;
    color: #525656;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    font-weight: bold;
    margin:15px 0px;
}
h3{
    font-size: 20px;
    font-weight: bold;
    color: #525656;
}
@media all and (max-width: 641px) {
   h1{
       font-size:35px;
   }
   h2{
       font-size:25px;
   }
  }
/* logo color :#41BA9D */
/****************** navbar ********************************/

  .logo-link{
    background: url(images/logo.png) no-repeat center center;
    background-size: 113px 25px;
    height: 25px;
    width: 95px;
    display: block;
    background-position: 0 0;
  }
  .navbar-header .logo-link{
      margin-top: 13px;
      margin-left: 20px;
      cursor: pointer;
  }

  .collapse ul li>div{
    width: 100%;
    cursor: pointer;
    line-height: 48px;
    font-size: 16px;
    margin-left: 20px;
  }
  .nav-wrapper{
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
  }
  /****************** end navbar********************************/
  /************************about us**********************************/
  .group-pic{
    background: url(images/group.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 262px;
  }
  /******************** Conact us **************************************/
  form{
      background-color: #41BA9D;
      padding:15px 0;
  }
  .contac-bg-pic{
    background: url("images/fadePic.jpg") no-repeat center center;
    background-size:cover;
    height:350px;
  }